parameters:
    level: 8
    paths:
        - src/

    bootstrapFiles:
        - %rootDir%/../../../tests/bootstrap.php
        - %rootDir%/../../../tests/shim.php
    excludePaths:
        - %rootDir%/../../../src/Transfer/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Unsafe usage of new static\(\).#'
        - '#Method .+::.+Table\(\) should return .+Table but returns Cake\\ORM\\Table.#'
        - '#Offset .+ does not exist on SimpleXMLElement\|null.#'
        - '#SimpleXMLElement.* does not accept string.#'
        - '#Parameter \#1 \$length of function random_bytes expects int<1, max>, int given.#'
        - '#Dead catch - Cake\\ORM\\Exception\\PersistenceFailedException is never thrown in the try block.#'
