parameters:
    level: 8
    bootstrapFiles:
        - %rootDir%/../../../tests/bootstrap.php
    excludes_analyse:
        - %rootDir%/../../../../src/Transfer/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Unsafe usage of new static\(\).#'
        - '#Method .+::.+Table\(\) should return .+Table but returns Cake\\ORM\\Table.#'
        - '#Offset .+ does not exist on SimpleXMLElement\|null.#'
