parameters:
    level: 1
    paths:
        - %rootDir%/../../../tests/

    bootstrapFiles:
        - %rootDir%/../../../tests/bootstrap.php
    excludePaths:
        - %rootDir%/../../../../src/Transfer/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
